html {
  font-size: 62.5%;
}

nav ul {
  display: flex;
  background-color: lightblue;
  padding: 10px;
}

nav ul li {
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  background-color: lightblue;
}
